# Adding Lattitude and Longitude Data To Database

In [55]:
## Database
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import json

## Yelp API 
## Installed via: https://github.com/gfairchild/yelpapi
from yelpapi import YelpAPI

## Set up the database connection

In [51]:
## Now try the same queries, but in python!

dbname = 'beer_db'
mypassword = 'simple'
username = 'postgres'

# connect:
con = None
con = psycopg2.connect(database = dbname, user = username,host='/var/run/postgresql',password=mypassword)

# query:
sql_query = """
SELECT 
    distinct brewery_key,phone_key,brewery_name,city,state 
FROM 
    breweries 
WHERE 
    phone_key > 0 
ORDER BY city;;
"""
brewery_data_from_sql = pd.read_sql_query(sql_query,con)

brewery_data_from_sql.head()

   brewery_key   phone_key                    brewery_name          city state
0        21448  8184774566           Ladyface Ale Companie  Agoura Hills    CA
1        27327  8187350091             The Lab Brewing Co.  Agoura Hills    CA
2        39663  5102178885  Alameda Island Brewing Company       Alameda    CA
3        33181  5105232739                 Faction Brewing       Alameda    CA
4         6421  9494489611         Stadium Brewing Company   Aliso Viejo    CA

## Yelp API Requests

In [79]:
CONSUMER_KEY = 'ORSXdOCKxhchhVsWm_cu_Q'
CONSUMER_SECRET = 'RDGuDq0zh1IZkyUnui60Izb00KY'
TOKEN = '0g3ixyY4GYGaGDVgVfvV9lAmZdDQTEaB'
TOKEN_SECRET = '7591YIL6f6Ou7HS0t58TFHfJdGk'

yelp_api = YelpAPI(CONSUMER_KEY, CONSUMER_SECRET, TOKEN, TOKEN_SECRET)
phone_search_results = yelp_api.phone_search_query(phone=7147801888)
#print phone_search_results
results_dict = phone_search_results

print results_dict['businesses'][0]['rating']
print results_dict['businesses'][0]['review_count']
print results_dict['businesses'][0]['location']['coordinate']['latitude']
print results_dict['businesses'][0]['location']['coordinate']['longitude']

4.0
218
33.832638
-117.912506